.menuContainer {
  color: #fff;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #0c0c0c;
}

.pages {
  margin-left: 5rem;
}

.pages a {
  margin: 1rem;
  opacity: 20%;
  color: #fff !important;
  transition: linear 0.5s;
}

.pages a:hover { 
  opacity: 100%;
  color: #9465FF !important;
}

.contacts {
  position: absolute;
  top: 1.5rem;
  left: 60%;
}

.contacts :nth-child(1) {
  margin-left: 1.5rem;
}

/* para versão mobile */
.pages-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  margin-left: 0.5rem;
}

.pages-mobile a {
  margin-top: 2rem;
  font-size: 1rem;
} 
/* fim */
@media(max-width: 1150px) {
  .menuContainer {
    height: 24vh;
  }

  .pages {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .pages a {
    font-size: 1.1rem;
    margin: 5px
  }
}

@media (max-width: 680px) {
  .menuContainer {
    height: 21vh;
  }

  .pages {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .pages a {
    margin: 2px;
  }
  .pages-mobile a:hover { 
    color: #00000088;
  }
}

@media (max-width: 421px) {
  .contacts :nth-child(1) {
    margin-left: 1rem;
  }
}