.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.62rem;
  width: 11.06rem;
  height: 11.06rem;
  margin-right: 3.12rem;
  margin-left: 1.87rem;
  background-color: #1C1C1C;
  transition: all .2s ease-out
}

.block img {
  width: 50%;
  filter: grayscale(100%)
}

.block:hover img {
  filter: grayscale(0%)
}

.block svg {
  position: absolute;
  font-size: 1rem;
  top: 80%;
  left: 80%;
  opacity: 0;
  transition: ease 0.2s;
}

.block:hover svg {
  opacity: 1;
}

.block:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 8px 0px 1px #9465FF;
}

@media (max-width: 1150px) {
  .block {
    width: 10rem;
    height: 10rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 680px) {
  .block {
    width: 8.5rem;
    height: 5.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
