#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding-top: 2.5rem;
  color: #fff;
}

.formContainer h4 {
  color: #9465FF;
}

.formContainer form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 0 30px;
}

.has-error, .has-error-label {
  color: #db1d4b;
}

.has-error {
  font-size: 0.8rem;
  margin-left: 10px;
}

input, textArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.62rem;
}

input {
  width: 19.209rem;
}

textArea {
  resize: none;
}

.copyrights {
  position: absolute;
  top: 394%;
  right: 40%;
}

.copyrights a {
  font-size: 1.1rem;
  opacity: 100%;
}

.copyrights span {
  opacity: 60%;
}


#clear {
  width: 8rem;
  height: 3.2rem;
  color: #fff;
  background-color: #db1d4b;
  margin-right: 3.25rem;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  opacity: 50%;
  transition: ease 0.2s;
}

#clear:hover {
  opacity: 100%;
}

#submit {
  width: 19.209rem;
  height: 4rem;
  color: #0c0c0c;
  background-color: #9465FF;
  font-size: 1.5rem;
  border-radius: 3%;
  border: none;
  cursor: pointer;

  transition: ease 0.2s;
  opacity: 50%;
}

#submit:hover {
  opacity: 1;
}

[data-anime] {
  opacity: 0;
  transition: 0.8s;
}

[data-anime='right'] {
  transform: translate3d(50px, 0, 0);
}

[data-anime='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 1150px) {
  #contact {
    padding-top: 10rem;
  }

  input, textArea {
    margin-bottom: 0.50rem;
  }
  
  input {
    width: 16rem;
  }

  textArea {
    width: 16rem !important;
    height: 10rem !important;
  }

  #submit {
    width: 16rem;
    height: 2.8rem;
    margin-bottom: 0;
  }

}

@media (max-width: 680px) {
  #contact {
    padding-top: 7rem;
  }

  input, textArea {
    margin-bottom: 0.50rem;
  }
  
  input {
    width: 15rem;
  }

  textArea {
    width: 15rem !important;
    height: 10rem !important;
  }

  #submit {
    width: 15rem;
    height: 2.8rem;
    font-size: 1.2rem;
  }
}