#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 2.5rem;
}

#home img {
  width: 300px;
  margin: 0 84px;
}

.nameContainer h5 {
  color: #9465FF;
  margin-bottom: 0;
  margin-top: 0;
}

.nameContainer p {
  color: #fff;
  font-size: 4.5rem;
  margin: 0 0 0 15px;
  line-height: 70px;
}

.aboutContainer h5 {
  margin-bottom: 0;
  margin-top: 0;
  color: #9465FF;
}

.aboutContainer p {
  color: #fff;
  margin: 0 0 0 15px;
}

[data-anime] {
  opacity: 0;
  transition: 0.8s;
}

[data-anime='down'] {
  transform: translate3d(0, 80px, 0);
}

[data-anime='right'] {
  transform: translate3d(50px, 0, 0);
}

[data-anime='left'] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}