.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #0c0c0c;
}

.menuContainer {
  color: #fff;
  padding: 20px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  position: fixed;
}

.pages {
  margin-left: 7rem;
}

.pages a {
  margin: 1rem;
  opacity: 20%;
  transition: linear 0.5s;
}

.pages a:active { 
  opacity: 100%;
}

.contacts {
  position: absolute;
  top: 1.5rem;
  left: 60%;
}

.contacts :nth-child(1) {
  margin-left: 1.5rem;
}
