.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #0c0c0c;
}

.menuContainer {
  color: #fff;
  padding: 1.25rem;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: 500;
  position: fixed;
  z-index: 1;
  background-color: #0c0c0c;
}

.pages {
  margin-left: 5rem;
}

.pages a {
  margin: 1rem;
  opacity: 20%;
  transition: linear 0.5s;
}

.pages a:hover { 
  opacity: 100%;
  color: #9465FF;
}

.contacts {
  position: absolute;
  top: 1.5rem;
  left: 65%;
}

.contacts > a {
  margin-left: 3rem;
}

@media (max-width: 1150px) {
  .menuContainer {
    display: flex;
    justify-content: space-between;
    position: fixed;
  }

  .pages {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .pages a {
    margin: 0.3rem;
    font-size: 1.2rem;
  }

  .contacts > a {
  }
}

@media (max-width: 680px) {
  .menuContainer {
    display: flex;
    justify-content: space-between;
    position: fixed;
  }

  .pages {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .pages a {
    margin: 0;
  }

  .contacts > a {
    margin-left: 2rem;
  }
}